/* Global CSS */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: "Roboto", sans-serif;
  -moz-osx-font-smoothing: "Roboto", sans-serif;
  font-style: normal;
}
:root {
  --primary: #5e3bee;
  --heading-color: #282938;
  --bg-shade: #f5fcff;
  --github: #e62872;
  --darkblue: #1c1e53;
  --black: #000000;
  --white: #ffffff;
}
.btn {
  font-family: "Roboto";
  display: inline-block;
  padding: 14px 30px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
}

.btn-primary {
  color: var(--white);
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.btn-primary:hover {
  color: var(--primary);
  background-color: var(--white);
}

.btn-outline-primary {
  color: var(--primary);
  background-color: var(--white);
  border: 1px solid var(--primary);
}

.btn-outline-primary:hover {
  color: var(--white);
  background-color: var(--primary);
}

.btn-github {
  color: var(--white);
  background-color: var(--github);
  border: var(--github);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.95);
  gap: 1rem;
}

.btn-github:hover {
  color: var(--github);
  background-color: var(--white);
}

/* heading styler start */
h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
}
h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}
h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

/* paragraph text large, medium & small */
.text-lg {
  color: var(--darkblue);
  font-size: 18px;
  font-style: normal;
  line-height: 27px;
}
.text-md {
  color: var(--darkblue);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.text-sm {
  color: var(--black);
  font-size: 14px;
  font-style: normal;
  line-height: 21px;
}

/* navbar style start */
.navbar--active-content {
  color: var(--primary) !important;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  box-shadow: 0 5px 80px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav_items > ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav_items > ul > li > a {
  text-decoration: none;
}

.nav_items .navbar--content {
  cursor: pointer;
  color: var(--darkblue);
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

/* hero section styler start */
.hero--section {
  background-color: var(--bg-shade);
}
.container {
  width: 85%;
  min-height: 100vh;
  margin: 0 auto;
}

.her--wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
}

.hero_section_img > img {
  padding-top: 1rem;
  width: 100%;
  height: 100%;
}

.hero_section_content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1.5rem;
}
.hero_section_content > .section_title {
  font-size: 20px;
  font-weight: 600;
  padding-top: 5rem;
}
.hero_section_content > .hero_section_title {
  font-weight: 700;
  font-size: 4rem;
}
.hero_section_content > .hero_section_desc {
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--darkblue);
  line-height: 36px;
}

/*Mobile styler start */

@media screen and (max-width: 880px) {
  .nav_hamburger {
    display: none;
    width: 1.9rem;
    flex-direction: column;
    justify-content: space-around;
    height: 20px;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
  }
  .nav_hamburger_line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000000;
    border-radius: 1rem;
    transition: all 0.3s ease;
  }
  .nav_hamburger_line:nth-child(2) {
    width: 70%;
  }
  .nav_hamburger {
    display: flex;
  }
  .nav_items > ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    background-color: azure;
    width: 100%;
    left: 0;
    top: -20rem;
    transition: all 0.5s ease;
    z-index: -1;
    padding: 2rem 0 1rem;
  }
  .nav_items.active > ul {
    top: 5.3rem;
  }
  .navbar {
    justify-content: flex-start;
    gap: 2rem;
    padding: 15px;
  }
  .nav_hamburger.active :nth-child(1) {
    transform: rotate(45deg) translate(0.45rem, 0.1275rem);
  }
  .nav_hamburger.active :nth-child(2) {
    opacity: 0;
  }
  .nav_hamburger.active :nth-child(3) {
    transform: rotate(-45deg) translate(0.45rem, -0.19995rem);
  }
  .her--wrapper {
    padding: 6rem 0;
    grid-template-columns: repeat(1, 1fr);
  }
  .skill_items {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .portfolio_items {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .about--content {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .testimonial_items {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .footer_bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .footer--nav .footer_nav {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .skill_items {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .portfolio_items {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .testimonial_items {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

/* skills section styler start */
.section_title {
  font-weight: 600;
  font-size: 20px;
  color: #282938;
  padding: 7rem 0 1rem;
}

.section_skill_title {
  padding-bottom: 4rem;
}

.skill_img_box {
  width: 5rem;
  padding: 10px;
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.1), -2px -1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.skill_img {
  width: 100%;
  border-radius: 5px;
}
.skill_items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.skill_item {
  background-color: var(--bg-shade);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 5px;
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.1), -3px -1px 5px rgba(0, 0, 0, 0.1);
}
.skill_item:hover {
  border-bottom: 5px solid var(--primary);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* about me styler start */
.about--me {
  background-color: var(--white);
}
.about--content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.about_avatar {
  width: 25rem;
  margin: 15rem 0 5rem;
}
.about--me .left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about--me .right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* project styler start */
.project_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}
.project_header_left_title {
  font-weight: 500;
  font-size: 1rem;
  color: #282938;
  padding-bottom: 1rem;
}

/* portfolio styler start */

.portfolio_img {
  width: 100%;
}
.portfolio_items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 4rem;
  background-color: var(--white);
  padding-bottom: 5rem;
}
.portfolio_item {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), -2px -1px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.portfolio_icon {
  width: 1.3rem;
}
.portfolio_text_box {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.github_link {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  margin-top: 1rem;
}
.line {
  width: 7.5rem;
  height: 1px;
  background-color: var(--primary);
}

/* testimonial styler start */
.testimonial--section {
  background-color: var(--bg-shade);
}

.testimonial_text_box {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 5rem 0;
}

.testimonial_text_box > p {
  font-size: 1rem;
  font-weight: 400;
  color: #282938;
}
.testimonial_items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.testimonial_item {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border: 1px solid teal;
  padding: 2rem;
  border-radius: 5px;
}
.testimonial_author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.testimonial_author_details {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

/* contact form styler start */
.contact--form {
  background-color: var(--white);
}
.contact--form .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}
.contact_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 1rem 0 3.5rem;
}
.contact_top > :first-child {
  font-weight: 600;
  font-size: 18px;
  color: black;
}

.contact_form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form_divider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.form_divider_bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form_divider .first_name,
.last_name,
.email,
.phone {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.contact--form label {
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--heading-color);
}
.contact--form #firstName,
#lastName,
#phone,
#email,
#topic,
#message {
  padding: 1rem;
  border-radius: 0.5rem;
  outline: none;
  border: 1px solid var(--primary);
}
.warning {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  gap: 10px;
}
input[type="checkbox"] {
  width: 21px;
  height: 21px;
  border: 0.15em solid var(--heading-color);
  border-radius: 0.15em;
  transform: translatey(-0.075em);
}
.contact_form + button {
  display: block;
  margin: 1rem auto;
}

/* footer styler start */
.footer--nav {
  background-color: var(--bg-shade);
  padding-bottom: 3rem;
}
.footer_nav {
  max-width: 80%;
  margin: 0 auto;
  padding: 5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.social_icon > ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}
.nav_items > ul li {
  cursor: pointer;
}
.h_line {
  width: 80%;
  margin: 0 auto;
  height: 2px;
  background-color: #000000;
}
.footer_privacy > ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}
.footer_privacy > ul > li > a {
  text-decoration: none;
  color: #282938;
}
.footer_bottom {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin: 2rem auto;
}
